---
const web_creator_url = "https://kkkfasya.web.id"; // Masukin web aku di footer gapapa yaa
const { logo, text } = Astro.props;
const links = [
  {
    name: "Instagram",
    link: "https://www.instagram.com/himbidig.feunmuha",
  },

  {
    name: "Email",
    link: "mailto:himbidig@gmail.com",
  },

  {
    name: "Whatsapp",
    link: "https://wa.me/62895328008696",
  },
];
---

<footer
  class="bg-neutral-primary-soft rounded-base m-4 text-(--text-color) underline shadow-xs"
>
  <div class="mx-auto w-full max-w-7xl p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        class="mb-4 flex items-center space-x-3 sm:mb-0 rtl:space-x-reverse"
        target="_self"
      >
        <img src={logo} class="h-7 sm:h-10" alt="Himbidig Logo" />
        <span
          class="text-heading self-center text-md font-semibold whitespace-nowrap sm:text-2xl"
        >
          {text}</span
        >
      </a>
      <ul
        class="text-body mb-6 flex text-xs sm:mb-0 sm:flex-row sm:flex-wrap sm:items-center sm:text-lg"
      >
        {
          links.map((l) => (
            <li>
              <a
                href={l.link}
                class="me-4 hover:underline md:me-6"
                target="_blank"
              >
                {l.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <hr class="border-default my-6 sm:mx-auto lg:my-8" />
    <span class="text-body block text-xs sm:text-center sm:text-sm"
      ><a
        ©
        2025
        href={web_creator_url}
        class="transition-all duration-300 ease-in-out hover:tracking-widest hover:underline"
        target="_blank"
        >&copy 2025 Kamal Fasya. <br /> Made with Love.
      </a></span
    >
  </div>
</footer>
